<section class="mt-3  p-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 ">
                <div class="rounded-3 bg-body-tertiary p-4">
                    <h4 class="fw-bold">Solar Panel Configuration</h4>
                    <form action="">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="" class="mb-2">Location</label>
                                    <input type="text" class="form-control" placeholder="Enter Address">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="" class="mb-2">System Size</label>
                                    <input type="text" class="form-control" placeholder="Enter Size">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="" class="mb-2">Panel Type</label>
                                    <input type="text" class="form-control" placeholder="Enter Type">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="" class="mb-2">Roof Angel</label>
                                    <input type="text" class="form-control" placeholder="Enter Angel">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>